.place__article {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .place__article {
    padding-bottom: 50px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
  }
}

.place__article:nth-of-type(5n) {
  padding-bottom: 0;
}
