.header__lang {
  margin: 0;
  list-style-type: none;
  display:flex;
  align-items: flex-end;
  box-sizing: border-box;
  height: 28px;
  padding-top: 46px;
}

@media screen and (max-width:320px) {
  .header__lang {
    padding-top: 35px;
  }
}
