.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  position: relative;
}

@media screen  and (max-width: 767px){
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
