.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  margin: 0 auto;
  width: 92.5%;
  align-items: flex-end;
}

@media screen and (max-width: 1079px) {
  .header {
    width: 90,6%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 94%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    width: 90%;
    min-height: 42px;
    padding-top: 16px;
  }
}

