.header__link {
  max-width: 30px;
  min-height: 28px;
  margin-top: 46px;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: right;
  text-decoration-line: underline;
  text-decoration: none;
  color:#fff;
  padding: 0;
}

@media screen and (max-width: 1279px){
  .header__link {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1023px){
  .header__link {
    margin-right: 0px;
    line-height: 37px;
  }
}
@media screen and (max-width: 767px){
  .header__link {
    max-width: 22x;
    min-height: 20px;
    margin-top: 16px;
    font-size: 18px;
    line-height: 27px;
  }
}
