.lead__title {
  padding-top: 56px;
  margin: 0;
  padding-top: 56px;
  margin: 0;
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-right: 280px;
    padding-left: 280px;

}
