.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  margin: 0;
  grid-column: 2;
  padding-bottom: 26px;
  max-width: 456px;

}

.place__paragraph:nth-of-type(2n) {
  padding-bottom: 0;
}

@media screen and (max-width:786px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    max-width: 352px;

  }
}

@media screen and (max-width:320px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    padding-bottom: 25px;
    grid-column: 1;
    max-width: 288px;
    margin: 0 auto;
  }
}
