.footer__copyright {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: right;
position: relative;
margin: 0;
padding-right: 48px;

}

.footer__copyright:hover {
  opacity: 0.8;
  background-color: #2A2C2F;
}

@media screen  and (max-width: 320px) {
  .footer__copyright {
    padding-right: 24px;
    padding-left: 24px;

  }
  }
