.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  max-width: 456px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .place__link {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    max-width: 288px;
  }
}
