.lead__images {
  width: 100vw;
  max-width: 984px;
  /*min-height: 615px;*/

  /*height: 62.5vw;*/
  padding-left: 148px;
  padding-right: 148px;
  box-sizing: border-box;
  /*padding-bottom: 62.5%;*/
  Ñ€
}


@media screen and (min-width:1024px) {
  .lead__images {
   padding-left: 48px;
   padding-right: 48px;


   /* width: auto;
    min-height: 400px;*/
  }
}

@media screen and (min-width:768px) {
  .lead__images {
   padding-left: 0;
   padding-right: 0;



  }
}

@media screen and (min-width:320px) {
  .lead__images {
   padding-left: 0;
   padding-right: 0;



  }
}
