.lead__caption {
  padding-left: 48px;
  padding-top: 8px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align:left;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 0;
    padding-left: 16px;
  }
}
