.place {
  max-width: 984px;
  margin: 0;
  padding-left: 148px;
  padding-right: 148px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "title link"
      "img paragraph";
  grid-column-start: 48px;
  gap: 33px 25px;
  padding-bottom: 80px;
}

.place:nth-of-type(5n){
  padding-bottom: 98px;
}


@media screen and (max-width:1024px) {
  .place {
    padding-left: 48px;
    padding-right: 48px;
    gap: 33px 25px;

  }
}

@media screen and (max-width:1024px) {
  .place:nth-of-type(5n){
    padding-bottom: 92px;
  }
}

@media screen and (max-width:768px) {
  .place {
    padding-left: 24px;
    padding-right: 24px;
    gap: 48px 28px;
    padding-bottom: 91px;
  }
}

@media screen and (max-width:768px) {
  .place:nth-of-type(5n){
    padding-bottom: 125px;
  }
}

@media screen and (max-width:320px) {
  .place {
    grid-template-columns:1fr;
    grid-template-areas:
        "title"
        "img"
        "paragraph";
    gap: 32px 32px;
    padding: 0;
  }
}

@media screen and (max-width:320px) {
  .place:nth-of-type(5n){
    padding-bottom: 0;
  }
}
