.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;
  /*max-width: 1184px;*/
  min-height: 18px;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width:768px) {
  .footer {
    /*max-width: 720px;*/
    padding-right: 0px;
    padding-left: 0px;
  }
}


@media screen and (max-width:320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
