.footer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 18px;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  padding-right: 48px;
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 768px;
  }
}


@media screen and (max-width:320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 320px;
  }
}
