.place__url-heading {
  color:#AAAAAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  max-width: 456px;
  margin: 0;
  padding-bottom: 18px;
}


@media screen and (max-width: 1024px) {
  .place__url-heading {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
    max-width: 288px;
    padding-bottom: 5px;
  }
}
