.intro__article {
  padding-right: 442px;
  padding-left: 148px;
  margin: 0;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro__article {
    padding-right: 286px;
    padding-left: 48px;
    padding-top: 100px
  }
}

@media screen and (max-width: 1023px) {
  .intro__article {
    padding-top: 88px;
    padding-right: 24px ;
    padding-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .intro__article {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
